@include media-breakpoint-up(lg) {
    .animate {
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }
}

.dropdown-menu {
    .dropdown-item {
        display: flex;

        .fa {
            line-height: unset;
            margin-left: auto;
            align-self: center;
            padding-left: 0.35em;
        }

        .fi {
            width: 12px;
            min-width: 12px;
        }
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
