// Darkmode switch styling

// For stock bootstrap switch
// Change colors in side navigation
html[data-bs-color-scheme='dark'] {
    #sideNav {
        #darkmodeSwitch {
            .btn {
                @extend .btn-dark;
            }
        }
    }
}

#sideNav {
    #darkmodeSwitch {
        .btn {
            @extend .btn-light;
        }

        @include media-breakpoint-down(lg) {
            .btn {
                --bs-btn-padding-y: 0.25rem;
                --bs-btn-padding-x: 0.5rem;
                --bs-btn-font-size: 0.875rem;
                --bs-btn-border-radius: 0.25rem;
            }
        }
    }
}



// Default coloring
#darkmodeSwitch {
    .btn {
        @extend .btn-primary;
    }
}
