@include media-breakpoint-up(lg) {
    .animate {
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    .dropdown-menu {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}

.dropdown-menu {
    .dropdown-item {
        white-space: pre-line;

        .fa {
            line-height: unset;
        }
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

