// 
// Icons
// 

// Styling for the rounded social media links

.floating-icons {
    .floating-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.2rem;
        margin-right: 1.2rem;
        border: none;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $primary;
        }
    }

    @include media-breakpoint-down(lg) {
        &.scrolled-down {
            transform: translateY(125%);
            transition: all 0.3s ease-in-out;
        }

        &.scrolled-up {
            transform: translateY(0);
            transition: all 0.3s ease-in-out;
        }
    }

    a {
        text-decoration: none;

        &:visited {
            text-decoration: none;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}
