@using Resume.ViewComponents
@inject IStringLocalizer<SharedResources> Localizer

<!-- Side navigation collapse button -->
<div class="burger-menu d-lg-none">
    <div class="hamburger" type="button">
        <i class="fa fa-solid fa-bars"></i>
    </div>
</div>
