@using Resume.ViewComponents
@inject IStringLocalizer<SharedResources> Localizer

<!-- Side navigation collapse button -->
<div class="burger-menu d-lg-none">
    <btn class="btn btn-primary sticky-top burger-button" role="button">
        <i class="fa fa-solid fa-bars"></i>
    </btn>
</div>
