<!-- PrintPdfComponent -->
<component type="typeof(BlazorComponentLibrary.Components.PrintPdfComponent)" render-mode="ServerPrerendered" param-PageToPrint=@ViewData["Printable"] />

<!-- Floating icons -->
<div class="floating-icons">
    <a class="floating-icon" href="https://www.linkedin.com/in/dalibor-hon/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="floating-icon" href="https://github.com/Dallyoo" target="_blank"><i class="fab fa-github"></i></a>
    <a class="floating-icon" href="mailto:hon.dalibor@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    <button type="button" class="floating-icon" data-modal-target="#printModal"><i class="fa-solid fa-file-pdf"></i></button>
</div>