@inject IStringLocalizer<SharedResources> SharedLocalizer

<!-- Page loading spinner -->
<div class="page-loading flex-container-column" id="pageLoading">
	<div class="spinner spinner-border"></div>
	<span>
		<strong>@SharedLocalizer["loadingPage"]</strong>
	</span>
</div>