//
// Sidenav
//

.burger-button {
    font-size: 1.2em;
    z-index: 9999;
    opacity: 100%;

    i {
        line-height: unset;
    }
}

.sidebar-wrapper {
    //width: $sidebar-base-width;
    color: #fff;
    transition: 0.4s;
    @include border-radius($navbar-radius);

    @include media-breakpoint-up(lg) {
        margin-right: 15px;
        position: sticky;
        top: 1.5em;
        height: max-content;
    }

    @include media-breakpoint-down(lg) {
        @include border-radius(0px);
        height: 100vh;
        position: fixed;
        z-index: 2;
        margin-right: 0px;
        justify-content: center;
    }
}

#sideNav {
    width: $sidebar-base-width;
    transition: width 0.4s;
    overflow: hidden;
    text-align: center;

    @include media-breakpoint-down(lg) {
        width: 0px;

        &.sidebar-hide {
            @include media-breakpoint-down(lg) {
                width: $sidebar-lg-base-width;
            }
        }
    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .btn-close {
        background-size: 20px;
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
        margin: auto auto 0;
        padding: 0.5rem;

        .img-profile {
            max-width: 6rem;
            max-height: 10rem;
            border: 0.5rem solid fade-out($white, 0.8);
        }
    }

    .navbar-nav .nav-item .nav-link {
        font-weight: 800;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
}

@include media-breakpoint-down(lg) {
    .img-profile-lg {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out($gray-800, 0.8);
    }
}
