//
// Colors and theming
//

// Override Bootstrap color system
$orange: #bd5d38;
$gray-800: #343a40; //#6c757d;
$bs-gray-800: #6c757d;
$gray-heading: #343a40;
$body-bg: #EDEDED;
$dark: #171717;

// Override Bootstrap default state colors
$primary: $orange;
$primary-alt: $orange;
$secondary: $bs-gray-800;
$secondary-alt: $bs-gray-800;

// Custom colors
$main-wrapper-color: #EEEEEE;
$main-wrapper-color-dark: #444444;
$main-wrapper-box-shadow: 0px 0px 6px rgba(0,0,0,20%);
$main-wrapper-box-shadow-light: 0px 0px 6px rgba(255,255,255,20%);
